{% extends "_base.html" %}
{% block full_title %}Clément Dubreuil{% endblock %}

{% block main %}
<div class="content">
  <h1 class="text-center">Clément Dubreuil</h1>
</div>

<div class="content">
  <h2>À propos</h2>

  <p>
    Bonjour, je suis Clément, un étudiant en informatique.<br>
    J'ai commencé la programmation en seconde. Je codais des sites en PHP (franchement mal fait, mais faut bien commencer).
    J'ai cherché à explorer d'autre domaine. Je me suis essayé au C et même tenté de faire des jeux (mais je n'avais pas le niveau).<br>
    Quand je suis entré en STI2D. J'ai découvert l'IoT avec l'Arduino. Que c'était fun de faire clignoter des LED.<br>
    À mon entrer en DUT Info, un ami m'a entrainé dans le monde de Linux et de l'administration système. J'ai même fini par acheter un serveur.
    Afin de me venger je lui ai fait découvrir Docker.<br>
    J'ai fini par obligation à m'intéresser aux réseaux et à force d'expérimenter et de chercher à m'améliorer, j'ai fini par créer mon propre réseau (<a href="/network">AS212625</a>).
  </p>
</div>

<div class="content">
  <h2>Compétences</h2>

  <div class="row">
    <div class="col-lg-4">
      <h3>Programmation</h3>
      <ul>
        <li>JavaScript <i class="devicon-javascript-plain"></i> / Node.js <i class="devicon-nodejs-plain"></i></li>
        <li>HTML <i class="devicon-html5-plain"></i> / CSS <i class="devicon-css3-plain"></i></li>
        <li>Python <i class="devicon-python-plain"></i></li>
        <li>PHP <i class="devicon-php-plain"></i></li>
        <li>SQL <i class="devicon-mysql-plain"></i></li>
      </ul>
    </div>
  
    <div class="col-lg-4">
      <h3>IT</h3>
      <ul>
        <li>Réseaux <i class="fas fa-network-wired"></i></li>
        <li>Linux <i class="devicon-linux-plain"></i></li>
        <li>Docker <i class="devicon-docker-plain"></i></li>
      </ul>
    </div>
  
    <div class="col-lg-4">
      <h3>IoT</h3>
      <ul>
        <li>Arduino <i class="fas fa-microchip"></i></li>
        <li>Prototypage <i class="fas fa-microchip"></i></li>
      </ul>
    </div>
  </div>
</div>

<div class="content">
  <h2>Formation</h2>
  <div class="row">
    <div class="col-lg-6">
      <h3>DUT Informatique</h3>
      <p class="font-size-16 text-muted">2019 - 2021 | Université de Reims Champagne Ardenne</p>
    </div>
    <div class="col-lg-6">
      <h3>Baccalauréat STI2D</h3>
      <p class="font-size-16 text-muted">2019 | Lycée Jean Monnet, Crépy en Valois</p>
    </div>
  </div>
</div>
{% endblock %}